*{
	margin:0px;
	padding:0px;
}
body{
	margin:0;
	padding:0;
	min-height: 100%;
	background-color:#CCC3F8;
}

.left{
	float:left;
	min-height:100vh;
	width:200px;
	padding-top: 20px;
	background-color:#B7F6FF;
}

.navContent{
	height:100%;
	width:100%;
	margin-left:20px;
}

.navLinks{
	list-style: none;
}

.navigation{
	margin-bottom:10px;
}

.navLinks__addTask{
	text-decoration:none;
	font-family:Arial;
	font-size:18px;
	color:blue;
}
.navLinks__link{
	text-decoration: none;
	font-family:Arial;
	font-size:18px;
	color:black;
}

.header{
	height:78px;
	width:100%;
	position:absolute;
	top:0;
	background-color: #ACFF9C;
	font-family:Cursive;
	color: #203719;
}
.familyName{
	padding-left:45px;
}

.mainContent{
	width:80%;
	margin-left:225px;
	margin-top:78px;
}

.listTitle{
	text-decoration: underline;
}

.task{
	display:flex;
}
.taskList{
	list-style: none;
}

.taskList__item{

}
