<h1> EDIT </h1>

<form action="/edit" method="get">
		<div>
			<input type="text" name="task">
		</div>

		<div>
		  <label>
		   <input type="radio" name="person" value="Bob">
		    Bob
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Mary">
		    Mary
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Joe">
		    Joe
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Lisa">
		    Lisa
		  </label>
		</div>



		<button type="submit" value="Submit">Submit</button>
  		<button href="/" type="reset" value="Reset">Cancel</button>
	</form>
