<div class="left">
	<div class="navContent">
		<ul class=navLinks>
			<li class="navigation"><a class="navLinks__addTask" href="/new">ADD A TASK</a></li>
			<li class="navigation"><a class="navLinks__link" href="/">All Tasks</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Bob">Bob</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Mary">Mary</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Joe">Joe</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Lisa">Lisa</a></li>
		</ul>
	</div>
</div>

<div class="mainContent">
	<h1> X's Tasks</h1>

	<!-- 
	TODO - In Ruby, it's better to call the `.nil?` function
	than to use `==` to see if something is `nil`. One example
	below, then you do the other one yourself.
	 -->

	<h3 class="listTitle"> To Do </h3>
	<% if !@theseAreNotDone.nil? %>
		<% @theseAreNotDone.each do |element| %>
			<div class="task">
				<p><%= element %></p>
				<form method="post" action="/delete"> 
					<input type="hidden" name="num" value ="0">
					<input type="submit" value="Delete">
				</form>
			</div>
		<% end %>
	<% else %>
		<p> There are no tasks </p>
	<% end %>

	<h3 class="listTitle"> Completed Tasks </h3>
	<% if @theseAreDone != nil %>
		<% @theseAreDone.each do |element| %>
			<div class="task">
				<p><%= element %></p>
				<form method="post" action="/delete"> 
					<input type="hidden" name="num" value ="0">
					<input type="submit" value="Delete">
				</form>
			</div>
		<% end %>
	<% else %>
		<p> There are no tasks </p>
	<% end %>
</div>