
<div class="left">
	<div class="navContent">
		<ul class=navLinks>
			<li class="navigation"><a class="navLinks__addTask" href="/new">ADD A TASK</a></li>
			<li class="navigation"><a class="navLinks__link" href="/">All Tasks</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Bob">Bob</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Mary">Mary</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Joe">Joe</a></li>
			<li class="navigation"><a class="navLinks__link" href="/filtered?user=Lisa">Lisa</a></li>
		</ul>
	</div>
</div>
<!-- 
TODO - Reconsider BEM structure below. Each task should be a <li>.
 -->
 <div class="mainContent">

<h1 class="ListTitle">To Do List</h1>
<% @incompleteTasks.each do |element| %>
	<ul class = "TaskList">
		<li class = "TaskList__task"><%= element %></li>
		<form method="post" action="/delete"> 
			<input type="hidden" name="num" value ="2">
			<input type="submit" value="Delete">
		</form>
	</ul>
<% end %>

<h1 class="ListTitle">Completed Tasks</h1>
<% @completedTasks.each do |element| %>
	<ul class="TaskList">
		<li class="TaskList__task"><%= element %></li>
	</ul>
<% end %>

</div>

