<a href="/new">ADD A TASK</a>


<ul>
	<a href="/filtered">Bob</a>
	<a href="/filtered">Mary</a>
	<a href="/filtered">Joe</a>
	<a href="/filtered">Lisa</a>
</ul>

<h1>To Do List</h1>
<% @incompleteTasks.each do |element| %>
	<p><%= element %></p>
<% end %>

<h1>Completed Tasks</h1>
<% @completedTasks.each do |element| %>
	<p><%= element %></p>
<% end %>

