

<a href="/new">ADD A TASK</a>

<div class="Nav">
	<ul class=navLinks>
		<li><a class="navLinks__item" href="/filtered?user=Bob">Bob</a></li>
		<li><a class="navLinks__item" href="/filtered?user=Mary">Mary</a></li>
		<li><a class="navLinks__item" href="/filtered?user=Joe">Joe</a></li>
		<li><a class="navLinks__item" href="/filtered?user=Lisa">Lisa</a></li>
	</ul>
</div>

<!-- 
TODO - Reconsider BEM structure below. Each task should be a <li>.
 -->

<h1 class="TaskList">To Do List</h1>
<% @incompleteTasks.each do |element| %>
	<p class = "TaskList__item"><%= element %></p>
	<form method="post" action="/delete"> 
		<input type="hidden" name="num" value ="2">
		<input type="submit" value="Delete">
	</form>
<% end %>

<h1 class="TaskList">Completed Tasks</h1>
<% @completedTasks.each do |element| %>
	<p class="TaskList__item"><%= element %></p>
<% end %>

