	<form>
		<div>
			<input type="text" name="task">
		</div>

		<div>
		  <label>
		   <input type="checkbox" name="q1" value="true">
		    Bob
		  </label>
		</div>

		<div>
		  <label>
		    <input type="checkbox" name="q2" value="true">
		    Mary
		  </label>
		</div>

		<div>
		  <label>
		    <input type="checkbox" name="q3" value="true">
		    Joe
		  </label>
		</div>

		<div>
		  <label>
		    <input type="checkbox" name="q4" value="true">
		    Lisa
		  </label>
		</div>


		<input type="submit">
	</form>
