<div class="mainContent">

	<form method="post" action="/new/process" >
		<div><input type="text" name="task" placeholder="Task"></div>

		<div>
		  <label>
		   <input type="radio" name="person" value="Bob" checked>
		    Bob
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Mary">
		    Mary
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Joe">
		    Joe
		  </label>
		</div>

		<div>
		  <label>
		    <input type="radio" name="person" value="Lisa">
		    Lisa
		  </label>
		</div>


		<input type="submit">
	</form>

</div>

