<div class="mainContent">

	<form method="post" action="/new/process" >
		<div><input class="enterTask" type="text" name="task" placeholder="Task"></div>

		<div>
		  <label>
		   <input class="addNamesList" type="radio" name="person" email="michaeljducey@gmail.com" value="Bob" checked>
		    Bob
		  </label>
		</div>

		<div>
		  <label>
		    <input class="addNamesList" type="radio" name="person" email="michaeljducey@gmail.com" value="Mary">
		    Mary
		  </label>
		</div>

		<div>
		  <label>
		    <input class="addNamesList" type="radio" name="person" email="mhughes27@gmail.com" value="Joe">
		    Joe
		  </label>
		</div>

		<div>
		  <label>
		    <input class="addNamesList" type="radio" name="person" email="mhughes27@gmail.com" value="Lisa">
		    Lisa
		  </label>
		</div>


		<input class="editaddSubmitButton" type="submit">
	</form>

</div>

